/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* colors */
/*  */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* colors */
/*  */
header {
  align-items: center;
  text-transform: uppercase;
  text-transform: uppercase;
  display: flex !important;
  justify-content: space-between;
  margin: 0%;
  padding: 4%; }
  header h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 30px; }
    header h1 a {
      text-decoration: none; }
  header nav {
    width: 50%; }
    header nav ul {
      display: inline-flex;
      width: 100%;
      justify-content: flex-end; }
    header nav li {
      font-size: 20px;
      font-family: 'Bebas Neue', cursive;
      margin-right: 3%; }
      header nav li a {
        text-decoration: none;
        color: #FCFCFC; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* colors */
/*  */
footer {
  background-color: #0A0908;
  margin-top: 3%;
  padding: 4%; }
  footer p {
    color: #FCFCFC;
    font-size: 20px;
    font-family: 'Bebas Neue', cursive; }

body {
  background-color: #FFFBFF;
  background-image: url("../blob-scene-haikei.svg");
  background-size: cover;
  display: block;
  width: 100%;
  height: auto; }

header a {
  color: #363B59; }

.hero-banner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end; }

video {
  width: 100%;
  height: auto;
  position: relative; }

.banner-text {
  position: absolute;
  font-family: 'Bebas Neue', cursive;
  font-size: 2em;
  display: flex;
  width: 30%;
  height: auto;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  justify-content: center;
  margin: 3%;
  padding: 2%;
  border: 1px solid #F2E9DC;
  border-radius: 5%; }
  .banner-text a {
    text-decoration: none;
    color: #CFD11A; }

.services {
  display: flex;
  flex-direction: column;
  margin: 1%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.banner-text-services {
  position: absolute;
  font-family: 'Bebas Neue', cursive;
  color: #5E503F;
  margin: 3%;
  padding: 2%; }
  .banner-text-services a {
    text-decoration: none;
    color: #FCFCFC;
    font-size: 90px; }

.banner-text-services.move {
  animation: servicesAnim 3s ease-out 0s 1 normal forwards; }

@keyframes servicesAnim {
  0% {
    opacity: 0;
    transform: translateY(-250px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.mission-statement {
  display: flex;
  margin: 1%;
  padding: 2%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FCFCFC;
  position: relative; }
  .mission-statement .section-content {
    margin: 3%;
    padding: 2%;
    animation: myAnim2 2s ease 2s 1 normal forwards; }

@keyframes myAnim2 {
  0% {
    opacity: 0;
    transform: translateX(250px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
  .mission-statement h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    color: #22333B; }
  .mission-statement p {
    font-family: 'Lora', serif;
    color: #22333B;
    font-size: 20px;
    text-align: center; }

.section-title {
  display: flex;
  justify-content: center;
  margin: 2%;
  padding: 3%;
  animation: slideInRight 3s ease-in-out 2s 1 normal forwards; }

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(-250px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

.section-content-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%; }
  .section-content-wrapper a {
    text-decoration: none;
    color: #FCFCFC; }

.homeImage-text {
  position: absolute;
  font-family: 'Bebas Neue', cursive;
  font-size: 90px;
  visibility: hidden;
  color: #CFD11A; }

#shop.move {
  animation: shopAnimation 4s ease-out 0s 1 normal forwards; }

@keyframes shopAnimation {
  0% {
    opacity: 0;
    transform: translateX(-250px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

.other {
  margin: 0.5%; }

.plant-image-home {
  display: flex;
  position: relative;
  margin: 0.5%;
  padding: 0.5%; }

.picture-wrapper {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center; }

.homeImage-text,
.homeImage-text-team {
  position: absolute;
  font-family: 'Bebas Neue', cursive;
  font-size: 90px;
  margin: 2%;
  padding: 2%;
  border-radius: 5%; }
  .homeImage-text a,
  .homeImage-text-team a {
    color: #363B59; }

#team.move {
  animation: teamAnimation 4s ease-out 0s 1 normal forwards; }

@keyframes teamAnimation {
  0% {
    opacity: 0;
    transform: translateX(250px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

.custom-shape-divider-top-1648063866 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0; }

/* width="320" height="240" */
