.services-section,
.plant-arrivals,
.florist-section,
.cafe-section,
.contact-section {
    //  margin-top: 5%;
    // margin-bottom: 5%;
}

.our-services-title,
.arrival-section-title,
.workshop-section-title,
.florist-section-title,
.cafe-section-title {
    display: flex;
    justify-content: center;

}


.content-wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    // background: rgb(0, 79, 45);
    // background: linear-gradient(45deg, rgba(0, 79, 45, 1) 50%, rgba(244, 250, 255, 1) 50%);
}


// .card {
//     background-color: transparent;
// }

.sections {
    display: flex;
    width: 90%;
    flex-direction: column;
}