body {
    background-color: $grey;
}


.navbar-brand {
    h1 {
        color: black;

        .fa-brands {
            color: $darkgreen;
        }
    }

}

.navbar-toggler {

    .fa-solid {
        color: $darkgreen;
    }
}


.form-control {
    background-color: rgba(255, 255, 255, 0.8);
}

.submit {
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
}


.mb-3 {

    input,
    label {
        color: $darkgreen;
    }

}


footer p,
.content-wrapper a,
.arrivals-card-img,
.arrivals-card-title,
.hours-card-text,
.workshop-card-title,
.cafe-section-title h2,
.cafe-section-title p,
.offcanvas-header,
.offcanvas-nav li,
.offcanvas-nav a {

    color: $grey;
}


.workshop-section-title h2,
.our-services-title h2,
.plant-card-title,
.florist-section-title,
.contact-form-title,
.cafe-section-title {
    color: $darkgreen;
}

 
.plant-arrivals,
.florist-section,
.offcanvas,
footer {
    background-color: $darkgreen;
}
