.flower-content {
    display: flex;
    align-items: center;
}

.florist-container {
    display: flex
}

.florist-section-wrapper {
    display: flex;
    width: 90%;
}

.florist-section-title {
    color: $grey;
    margin: 5% 0;
    padding: 5% 0;
}

.florist-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin: 5% 0;
    padding: 2% 0 10%;
}

.florist-wrapper {

    color: $grey;
    background-color: $darkgreen;
    justify-content: space-evenly;
}

#flowers2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (min-width: 576px) {
    .florist-section-title {

        margin: 3% 0;
        padding: 2% 0;
    }

    .florist-section-wrapper {
        margin: 3% 0;
        padding: 2% 0;
    }
}