h1 {
    font-family: $font-brand;
}

h2,
.newsletter-subscription {
    font-family: $font-titles;

}

h3 {
    font-family: $font-variable;
}

p {
    font-family: $font-text;
}

h1,
h2,
h3 {
    text-transform: capitalize;
}

@media (min-width:576px) {
    .worshop-title {
        font-size: 1.2em;
    }
}