.navbar {
    width: 100%;
    background-color: $transparentWhite;
}


.navbar-brand,
.navbar-toggler {
    font-size: 0.7rem !important;
    padding: 2% 2%;
    border: none;
}

header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: url("../assets/homeImages/ourstore-mobile.jpg");
    align-items: center;
    text-transform: uppercase;
    text-transform: uppercase;
    justify-content: space-between;
    margin: 0%;
    padding: 1%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;


}

.header-overlay {
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    -webkit-animation: tracking-in-contract 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-contract 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;

}

/* ----------------------------------------------
 * Generated by Animista on 2022-7-11 15:26:22
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-contract
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-contract {
    0% {
        letter-spacing: 1em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        letter-spacing: normal;
        opacity: 1;
    }
}

@keyframes tracking-in-contract {
    0% {
        letter-spacing: 1em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        letter-spacing: normal;
        opacity: 1;
    }
}


.offcanvas li a {

    text-decoration: none;
    line-height: 1.4;
}







.collapsebtn {
    background: transparent;
    width: 4em;
    height: 4em;
    border: 1px solid $darkgreen;

    .fa-brands {
        font-size: 2em;
        color: $grey;
    }
}

.header-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h1 {
        font-size: 3em;
        color: $grey;
    }
}

@media (min-width: 768px) {
    .navbar-nav {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

}

@media (min-width:300px) {

    .navbar-brand,
    .navbar-toggler {
        font-size: 1rem !important;
    }
}


@media (min-width:480px) {

    .navbar-brand,
    .navbar-toggler {
        font-size: 1.25rem !important;
    }
}

//tablet
@media (min-width:576px) {

    header {
        background-image: url("/assets/homeImages/ourstore-tablet.jpg");
    }

    .header-text {


        h1 {
            font-size: 4em;

        }
    }
}

//laptop
@media (min-width:768px) {
    header {
        background-image: url("/assets/homeImages/ourstore-tablet.jpg");
    }

    .header-text {


        h1 {
            font-size: 6em;

        }
    }
}


//desktop
@media (min-width:992px) {
    .header-text {


        h1 {
            font-size: 7em;

        }
    }
}


@media (min-width:1200px) {
    .header-text {


        h1 {
            font-size: 8em;

        }
    }
}