.info-img {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 100%;
        height: auto;
    }

}

.img-wrapper {
    display: flex;
    width: 60%;
}

.info-section {}

.info-wrapper {
    justify-content: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(5, 74, 41, 1) 50%);

}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}