// body {
//     // background-color: red;
//     background-image: url("../blob-scene-haikei.svg");
//     background-size: cover;
//     display: block;
//     width: 100%;
//     height: auto;
// }

// header {
//     background-color: $spacecadet;

//     a {
//         color: $yellow;
//     }


// }

// nav {
//     ul {
//         li {
//             a {
//                 color: $linen;
//             }
//         }
//     }
// }

.products-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2%;
    width: 90%;
    padding: 3%;

    .section-title {

        font-family: 'Bebas Neue', cursive;
        font-size: 26px;
       // color: $gunmetal;
        display: flex;
        justify-content: center;
        padding-top: 3%;
        padding-bottom: 3%;
        margin-top: 2%;
        margin-bottom: 2%;

    }

    .section-content-wrapper {
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;

        .picture-wrapper {
            width: 25%;
            margin: 1%;
            padding: 1%;

            img {
                border-radius: 5%;
            }
        }
    }
}