.services-section {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
}

.our-services-title {
    display: flex;
    width: 80%;
    justify-content: center;
    margin: 2%;
    padding: 2%;
}

.our-services-content {
    display: flex;
    width: 100%;
    justify-content: center;
}

.services-list {
    display: flex;
    width: 70%;
    margin: 3%;
    padding: 2%;
    text-align: center;

    li {
        // display: inline-flex;
    }
}





.rounded-circle {
    width: 60%;
    height: auto;
}

.new-arrivals-container {
    height: 100%;

}

.new-arrivals-container>* {
    padding: 2%;
}

.new-arrivals-wrapper {
    display: flex;
    padding: 2%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

