/* colors */
/*  */
// $blue : #204683;
// $darkgreen: #11270B;
// $brown: #92817A;
// $beige:#F1DABF;
// $lightgreen:#4DAA57;
// $white:#FFFBFF;
// $offwhite: #FCFCFC;
// $black:#0A0908;
$transparentBlack: rgba(0, 0, 0, 0.3);
$transparentWhite: rgba(255, 255, 255, 0.372);
// $gunmetal:#22333B;
// $darkerBrown:#5E503F;
// $spacecadet:#363B59;
// $linen:#F2E9DC;
// $yellow :#CFD11A;
// $green :#00A380;
// $deepGreen :#004F2D;
// $crayolaOrange:#FE5F55;
// $lime:#CBFF4D;
// $darkblue:#001524;
// $offwhiteblue: #F4FAFF;

//$green2:#008F51;

//palette
// $grey:#ccc8c0;
// $darkgreen:#18331a;

// $green:#5c8258;
// $lightgreen:#7fa87a;
// $stone:#7d9590;


$grey:#E0E0D6;
$darkgreen:#061911;

$green:#586F71;

$lightgreen:#519496;
$stone:#677577;



//////////////////////////////////////
//////////////////////////////////////
//////////////////////////////////////
//////////////////////////////////////
//////////////////////////////////////
//fonts
$font-titles: 'Abril Fatface',
cursive;
$font-text: 'Cantata One',
serif;
$font-brand: 'Shrikhand',
cursive;
$font-text2: 'Unna',
serif;
$font-variable: 'Merriweather',
serif;
//$font-variable: 'Black Han Sans',sans-serif;
//
// $font-brand: 'Abril Fatface', cursive;
// $font-t: 'Anton', sans-serif;
// $font-test: 'PT Serif', serif;
// $font-test2: 'Staatliches', cursive;