/* colors */
/*  */

$transparentBlack: rgba(0, 0, 0, 0.3);
$transparentWhite: rgba(255, 255, 255, 0.372);

$transparentWhite2: rgba(255, 255, 255, 0.5);



$grey:#E0E0D6;
$darkgreen:#061911;

$green:#586F71;

$lightgreen:#519496;
$stone:#677577;



//////////////////////////////////////
//////////////////////////////////////
//////////////////////////////////////
//////////////////////////////////////
//////////////////////////////////////
//fonts
$font-titles: 'Abril Fatface',
cursive;
$font-text: 'Cantata One',
serif;
$font-brand: 'Shrikhand',
cursive;
$font-text2: 'Unna',
serif;
$font-variable: 'Merriweather',
serif;