.workshop-section,
.workshop-container,
.workshop-info-wrapper {
    display: flex;
    width: 100%;
}

.workshop-img,
.workshop-img-wrapper,
.workshop-card {
    display: flex;
    height: 100%;
    width: 100%;

}

.reset {
    display: none;
}

.workshop-row {
    display: flex;
    width: 95%;
}

.workshop-container {
    justify-content: center;
}




.workshop-card {
    position: relative;
}

.workshop-section {
    background-color: $darkgreen;
}

.workshop-info-wrapper,
.workshop {
    flex-direction: column;
    width: 50%;
}

.workshop-item {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    position: relative;
    margin: 0.5%;
}

.workshop-categories {
    display: grid;
    width: 100%;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: auto auto;
    column-gap: 0.5em;
    row-gap: 0.5em;
}

.workshop-card-overlay {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    h5 {
        color: $grey;
    }
}

.workshop-card-overlay:hover {

    background-color: $transparentBlack;
}

.workshop-overlay {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}

.workshop-details-overlay {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.workshop-title {
    display: flex;
    word-break: break-word;
    height: auto;
}

.workshop-card {
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    display: none;
}

.workshop {
    flex-direction: column;
    width: 50%;
    height: 100%;
    align-self: center;
    display: flex;
    justify-content: center;
}


.workshop-placeholder {
    display: flex;
    justify-content: center;
}

// @media (min-width: 576px) {

//     .workshop-section,
//     .workshop-container {
//         padding: 2% 0;
//     }

//     .workshop-container {
//         margin: 2% 0;
//     }


//     .workshop-row {

//         width: 100%;

//     }

// }