@import 'reset';
@import 'variables.scss';




header {
    // background-color: $offwhite;
    align-items: center;
    text-transform: uppercase;
    //  border-bottom: 1px solid $black;
    text-transform: uppercase;
    display: flex !important;
    justify-content: space-between;
    margin: 0%;
    padding: 4%;

    h1 {
        font-family: 'Bebas Neue', cursive;
        font-size: 30px;

        a {
            text-decoration: none;
            //  color: $gunmetal;
        }
    }

    nav {
        width: 50%;

        ul {
            display: inline-flex;
            width: 100%;
            justify-content: flex-end;
        }


        li {
            font-size: 20px;
            font-family: 'Bebas Neue', cursive;
            margin-right: 3%;

            a {
                text-decoration: none;
                color: $offwhite;
            }
        }
    }
}