/* colors */
/*  */
$blue : #204683;
$darkgreen: #11270B;
$brown: #92817A;
$beige:#F1DABF;
$lightgreen:#4DAA57;
$white:#FFFBFF;
$offwhite: #FCFCFC;
$black:#0A0908;
$gunmetal:#22333B;
$darkerBrown:#5E503F;
$spacecadet:#363B59;
$linen:#F2E9DC;
$yellow :#CFD11A;
$green :#00A380;
$deepGreen :#004F2D;
$crayolaOrange:#FE5F55;